.admin-page__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.admin-page {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-page__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.markers-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 20px;
}

.markers-list__item {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Make the item span the full width */
}

.marker-item {
  position: relative;
}

.item__delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5252;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.item__figure {
  margin-top: 10px;
}

.item__img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
